/* footer */
footer .footerAward, footer .footerCertification {
    display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
footer .footerAward a img { width: 100%; }
footer .footerMenu {
	padding: 10px 0;
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #761a7a;
    border-top: 2px solid #fff000;
}
footer .footerMenu a {
	display: inline-block;
    color: #fff;
    padding: 0 10px 0 5px;
    border-right: solid 1px #fff;
}
footer .footerMenu a:last-child { border: none; }
footer .footerContent {
	width: 1200px;
	margin: auto;
}
footer .footer-inner {
	display: inline-flex;
	width: 100%;
	padding: 20px 0;
	justify-content: space-between;
	overflow: hidden;
}
footer .footer-inner .row {
	width: 30%;
    font-size: 14px;
	line-height: 1.7;
    margin: 0;
}
footer .footerPhone {
	display: block;
    margin-bottom: 15px;
    color: #761a7a;
    font-weight: bold;
	text-align: center;
    line-height: 40px;
    background-color: #fff000;
    transition: .3s;
}
footer .footerPhone:hover {
    color: #fff000;
    background-color: #761a7a;
}
footer .footerContentTitle {
    display: block;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 5px;
    line-height: 30px;
    border-left: 5px solid #761a7a;
}
footer .footerCertification {
	border-top: solid 1px #761a7a;
}
footer .footerCertification a {
    display: inline-block;
    width: 55px; height: 40px;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
footer .footerCertification a.footer-icon01 { background-image: url(assets/icon-sym.svg); }
footer .footerCertification a.footer-icon02 {
    width: 33px;
    background-image: url(assets/icon-sosa.svg);
}
footer .footerCertification a.footer-icon03 { background-image: url(assets/icon-visa.svg); }
footer .footerCertification a.footer-icon04 { background-image: url(assets/icon-tqaa.svg); }
footer .footerCertification a.footer-icon05 {
    width: 136px;
    background-image: url(http://www.sosa.org.tw/images/ec.png);
}
footer .footerCertification a.footer-icon06 {
    width: 60px;
    background-image: url(assets/icon-taiwan.svg);
}
footer .footerCertification a.footer-icon07 {
    width: 60px;
    background-image: url(assets/icon-ssl.svg);
}
footer .footerCopyright {
    font-size: 13px;
	text-align: center;
    line-height: 24px;
}


/* mediaquery */
@media (max-width: 1200px) {
    footer .footerContent { width: 100%; }
    footer .footer-inner { padding: 10px; }
}

@media (max-width: 768px) {
    footer .footerAward { display: inline-flex; }
    footer .footerAward a {
        display: block;
        padding: 0 10px;
    }
    footer .footerMenu a {
        font-size: 13px;
        line-height: 1.4;
    }
    .footerCopyright span { display: inline-block; }
}


@media (max-width: 768px) {
    footer .footer-inner .row {
        width: 32%;
        font-size: 13px;
    }
}

@media (max-width: 425px) {
    footer .footer-inner { flex-wrap: wrap; }
    footer .footer-inner .row { width: 100%; }

    footer .footerAward { flex-wrap: wrap; }
    footer .footerAward a { width: 50%; }
    footer .footerCopyright {
        font-size: 11px;
        line-height: 1.4;
        padding: 10px;
    }
}
