@page {
    margin: 2cm;
}

body {
    width: auto;
}

img {
    page-break-inside: avoid;
}

div {
    /* page-break-inside: auto;
    page-break-after: auto;*/
    /*   page-break-before: always;
    page-break-inside: always;*/
}

#travel-highlight {
    page-break-before: always;
}

.travel-itinerary-day .spot {
    page-break-inside: auto;
}

#travel-highlight .topic,
.travel-highlight .warning .txt_box .title,
.travel-itinerary-title {
    page-break-after: avoid;
}

/*.travel-itinerary-spots,
.travel-itinerary-spots .spot:first-child {
    page-break-before: avoid;
}*/




a,
span,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
select,
textarea,
p,
blockquote,
th,
td {

    /* color: black!important;*/
    /* background-color: transparent!important;*/
}

.h2 {
    display: inline-block;
    font-size: 18pt;
    margin-bottom: 10px;
}

a.link {
    color: black;
    text-decoration: underline;
}

.logo {
    display: flex;
    justify-content: space-between;

    overflow: hidden;
}

.star-container {
    width: 860px;
}


#header ul.link {
    display: none;
}

.introduction {
    position: relative;
    display: flex;
    height: auto;
    float: left;
}

.travelTitle {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.groupNum {
    float: left;
}

.print_time {
    color: #808080;
    float: right;
    font-size: 14px;
}

.introduction .photos {
    position: relative;
    width: 400px;
}

.introduction .photos .big img {
    width: 400px;
    height: 350px;
}

.introduction .photos .small {
    width: 410px;
}

.introduction .photos .small img {
    width: calc(410px / 4 - 5px);
    margin-top: 10px;
}

.introduction .brief_info {
    position: relative;
    width: calc(860px - 400px);
    margin-left: 10px;
}


.introduction .brief_info .marketing_name {
    width: 420px;
}

.introduction .brief_info .marketing_name span {
    color: #ffa500;
    font-size: 16px;
}

.introduction .spec .item_container {
    margin: 5px 0;
}

.introduction .spec .item {
    padding: 0px 5px 5px 0;
}

.introduction .brief_info .spec .item .title {
    top: -2px;
}

.introduction .brief_info .spec .item .title i {
    background: white;
    border: 1px solid #c2c1c1;
    color: #c2c1c1!important;
}

.introduction .brief_info .spec .info .item .title i {
    border: 1px solid #ffa500;
    color: #ffa500!important;
}



.introduction .brief_info .booking_info {
    width: auto;
    float: none;
}






















/*交通*/

#travel-traffic {
    display: inline-block;
    width: 100%;
}

.flight_detail span {
    font-size: 14pt;
}

.flight_detail .title span.duration {
    font-size: 12pt;
}

.flight_detail .go,
.flight_detail .back {
    padding-top: 10px;

    margin-left: 20px;
}

.flight_detail .summary:after {
    display: none;
}

.flight_detail .summary .graph .progress_bar .bar img {
    height: 6px;
    width: 100%;
    opacity: 0.8;
    display: none;
}

.flight_detail .summary .graph .progress_bar .bar:first-child img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media print {
    .flight_detail .summary .graph .progress_bar .bar img {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: inline-block;
    }
}

.flight_detail .flight {
    padding: 2px 0 2px 20px;
}

.flight_detail .flights_box {
    padding-bottom: 10px;
    margin-right: 5px;
}

.flight_detail .flight .status {
    width: 100%;
    color: #c2c1c1;
}


























/*行程特色*/

.travel-highlight .theme {
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid #c2c1c1;
    box-shadow: 0 0px 2px #c2c1c1;
    min-height: 120px;
    overflow: visible;
}

.travel-highlight .theme.map {
    padding: 0;
}

.travel-highlight .theme .topic {
    left: -10px;
    position: absolute;
    top: 20px;
    text-align: center;
    font-size: 30px;
    min-height: auto;
    height: auto;
    background: white;
    color: black;
    
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.travel-highlight .theme .topic_zh {
    margin: 0 auto;
    writing-mode: horizontal-tb;
}



.travel-highlight .theme .topic_en {
    display: none;
}



.travel-highlight .spot {
    display: inline-block;

    padding-left: 80px;
}

.travel-highlight .theme.map .spot {
    padding: 0;
    margin: 0;
}


.travel-highlight .spot .txt_box {
    position: relative;
    color: inherit;
    background: white;
    width: auto;
    padding: 10px 15px 0px 15px!important;
}

.travel-highlight .spot .txt_box .title {
    font-size: 16pt;
    line-height: 20pt;
}

.travel-highlight .map img {
    width: 100%;
}


.travel-highlight .warning {
    margin-bottom: 20px;
}

.travel-highlight .warning:before {
    display: none;
}

.travel-highlight .warning .txt_box {
    display: block;
}
.travel-highlight .warning .txt_box .warning .txt_box .txt{
    width: 100%;
}

.travel-highlight .warning .txt_box .title {
    width: 100%;
    padding: 10px;
    font-size: 16pt;
    display: inline-block;
    font-weight: bolder;
}























/*每日行程*/

.travel-itinerary-day {
    padding: 0;
}

.travel-itinerary-day:last-child:after {
    left: 28px;
}

.travel-itinerary-day .container {
    margin-left: 35px;
    width: auto;
}

.travel-itinerary-title {
    font-size: 18px;
    line-height: 24px;
    padding-left: 45px;
}

.travel-itinerary-title .title {
    font-size: 16pt;
}

.travel-itinerary-title .day_count {
    background: white;
    left: -35px;
}


.travel-itinerary-title .day_count img {
    display: block;
    width: 100%;
}

.travel-itinerary-title .day_count .txt {
    top: 5px;
    color: #8b48a0;
}

.travel-itinerary-title .day_count span {
    opacity: 0.9;
}

.travel-itinerary-food .icon,
.travel-itinerary-hotel .icon,
.travel-iternary-warning .icon {
    position: relative;
    left: 0;
    top: -5px;
}

.travel-itinerary-food .icon i,
.travel-itinerary-hotel .icon i,
.travel-iternary-warning .icon i {
    border: 0px solid transparent;
    color: gray;
    left: 13px;
    font-size: 16px;
    position: absolute;
    text-align: left;
    line-height: 36px;
    width: 30px;
}

.travel-itinerary-food .box,
.travel-itinerary-hotel .box,
.travel-iternary-warning .box {
    padding-left: 50px;
}

.travel-itinerary-food span {
    display: inline-block;
}

.travel-itinerary-food span:before {
    content: "*";
}

.travel-itinerary-food {
    padding: 1px 0 0px 50px;
    position: relative;
    margin-bottom: 0px;
}

.travel-itinerary-hotel {
    padding: 1px 0 0px 50px;
    position: relative;
    margin-bottom: 0px;
}

.travel-iternary-warning {
    padding: 20px 0 0px 50px;
    line-height: 24px;
}



.travel-itinerary-day .spot {
    position: relative;
      width: 98%;
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 2%;
     box-shadow: 0 0 2px #c2c1c1;
     border:1px solid #c2c1c1;
    padding: 15px;
}





.travel-itinerary-day .spot .img_filter {
    display: inline-block;
    max-height: calc(450px);
    max-width: calc(300px);
    overflow: hidden;
    float: left;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    border-radius: 2px;
}


.travel-itinerary-day .spot img {
    max-width: 300px;
    max-height: 600px;
    background-color: #f4ecf5;
}



.travel-itinerary-day .spot .location {

    font-weight: bolder;
    font-size: 16pt;
    margin-bottom: 5px;
}

.travel-itinerary-day .spot .location:before {
    font-family: FontAwesome;
    position: relative;
    top: -2px;
    margin-right: 5px;
    content: "\f041";
}

.travel-itinerary-day .spot .option {
    color: #808080;
}

.travel-itinerary-day .spot .option:before {
    content: '(';
}

.travel-itinerary-day .spot .option:after {
    content: ') ';
}

.travel-itinerary-day .spot .description {
    text-align: justify;
    line-height: 18pt;
    font-size: 12pt;
}

.travel-itinerary-day .spot .other {
    line-height: 18pt;
    font-size: 12pt;
    background: transparent;
    margin: 10px 0 0px;
    text-align: justify;
    padding: 10px 0;
    border-top: 1px dashed #808080;
}

.travel-itinerary-day .spot .other:before {
    content: "備註:";
}











/*自費項目*/

.travel-optional,
.travel-optional .travel-optional-content {
    padding: 0;
    border: 0px solid transparent;
}

.travel-optional ul.list_num {
    padding: 0;
}

.travel-optional ul.list_num li.item {
    font-weight: bold;
    list-style: none;

    padding: 5px 0px 5px 15px;
}

.travel-optional ul.list_num li.item:last-child {
    border-bottom: 0px solid transparent;
}

.travel-optional .item .title {
    position: relative;
    display: inline-block;
    width: calc(100% - 10px);
    border-left: 4px solid #9e28b5;
}

.travel-optional .item .title .price {

    float: right;
}

.travel-optional .item .title span:first-child {
    border-left: 0px solid transparent;
}

.travel-optional .item .description {
    padding: 0 5px 0px 15px;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: normal;
}







/*其他出發日*/

.travel-otherday .price_list {

    display: inline-block;
    margin: 10px 20px;
}

.travel-otherday .price_list .item {
    position: relative;
    margin-bottom: 10px;
}

.travel-otherday .price_list .item .box {
    width: 100%;
    padding-left: 120px;
    line-height: 30px;
}

.travel-otherday .price_list .item .box a {
    display: inline-block;
    margin: 0 5px;
    color: rgb(55, 71, 79);
}

.travel-otherday .price_list .item .box a:hover {
    text-decoration: underline;
}

.travel-otherday .price_list .item .box a.disabled {
    color: #c2c1c1;
    text-decoration: line-through;
}

.travel-otherday .price_list .item .price {
    line-height: 30px;
    position: absolute;
    display: inline-block;
    left: 5px;
    top: 0;
    color: #781a7b;
    /* color: #ff4200;*/
    font-weight: bolder;
}





/*功能鍵*/

.page {
    margin-top: 100px;
}

.btn_box {
    width: 100%;
    height: 70px;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    top: 0;
    position: fixed;
    z-index: 1000;
    background: rgba(256, 256, 256, 0.95);
    box-shadow: 0 0px 5px gray;
}

.btn_box .btn {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    min-width: 80px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background: #ff4200;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    float: right;
}


.btn_box .btn:hover {
    background: #932C8B;
}

.btn_box .link {
    display: inline-block;
    color: #008cd7;
    text-decoration: none;
    padding: 5px;
    line-height: 20px;
    border-radius: 100px;
    padding: 5px 10px;
}

.btn_box .link:hover {
    opacity: 0.8;
    background: #008cd7;
    color: white;
    text-decoration: none;
}

.btn_box .link.current {
    background: #008cd7;
    color: white;
}
.btn_box .adjust{
    position: absolute;
    right: 150px;
    top: 25px;
}

@media print {
    .btn_box {
        display: none;
    }
    .page {
        margin-top: 0px;
    }
}











/*--IE--*/

@media (min-width: 0\0) {}